## Deliverable 2. Create a Customer Travel Destinations Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [7]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../weather_database/Weather_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,schaffhausen,CH,2020-11-11 00:43:48,47.70,8.63,42.01,100,90,1.12,fog
1,1,sao filipe,CV,2020-11-11 00:43:48,14.90,-24.50,78.85,74,0,5.23,clear sky
2,2,kodiak,US,2020-11-11 00:39:17,57.79,-152.41,44.60,75,90,16.11,light rain
3,3,lebu,CL,2020-11-11 00:43:48,-37.62,-73.65,52.23,90,0,12.48,clear sky
4,4,bam,IR,2020-11-11 00:43:48,29.11,58.36,52.99,55,27,1.83,scattered clouds

In [8]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [9]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
1,1,sao filipe,CV,2020-11-11 00:43:48,14.90,-24.50,78.85,74,0,5.23,clear sky
6,6,ewa beach,US,2020-11-11 00:40:19,21.32,-158.01,87.80,45,40,11.41,scattered clouds
9,9,carnarvon,AU,2020-11-11 00:39:14,-24.87,113.63,68.00,42,7,17.22,clear sky
10,10,hobart,AU,2020-11-11 00:39:25,-42.88,147.33,84.99,31,0,10.29,clear sky
11,11,airai,TL,2020-11-11 00:43:50,-8.93,125.41,75.38,65,100,2.64,light rain
16,16,rikitea,PF,2020-11-11 00:43:50,-23.12,-134.97,73.80,80,7,19.39,clear sky
17,17,victoria,HK,2020-11-11 00:40:53,22.29,114.16,73.00,65,0,3.00,clear sky
18,18,aden,YE,2020-11-11 00:43:50,12.78,45.04,79.68,73,0,10.11,clear sky
20,20,vaini,TO,2020-11-11 00:43:51,-21.20,-175.20,80.60,78,20,12.75,few clouds
22,22,albany,US,2020-11-11 00:41:40,42.60,-73.97,63.00,61,0,4.23,clear sky

In [10]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID        371
City           371
Country        369
Date           371
Lat            371
Lng            371
Max Temp       371
Humidity       371
Cloudiness     371
Wind Speed     371
Description    371
dtype: int64

In [18]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
nan_value = float("NaN")

preferred_cities_df.replace("", nan_value)

preferred_cities_df.dropna(subset = ["Country"])

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
1,1,sao filipe,CV,2020-11-11 00:43:48,14.90,-24.50,78.85,74,0,5.23,clear sky
6,6,ewa beach,US,2020-11-11 00:40:19,21.32,-158.01,87.80,45,40,11.41,scattered clouds
9,9,carnarvon,AU,2020-11-11 00:39:14,-24.87,113.63,68.00,42,7,17.22,clear sky
10,10,hobart,AU,2020-11-11 00:39:25,-42.88,147.33,84.99,31,0,10.29,clear sky
11,11,airai,TL,2020-11-11 00:43:50,-8.93,125.41,75.38,65,100,2.64,light rain
...,...,...,...,...,...,...,...,...,...,...,...
690,690,natal,BR,2020-11-11 00:46:30,-5.79,-35.21,78.80,83,75,17.22,broken clouds
694,694,port augusta,AU,2020-11-11 00:46:32,-32.50,137.77,77.00,25,0,12.75,clear sky
695,695,beira,MZ,2020-11-11 00:46:32,-19.84,34.84,77.20,86,58,8.16,broken clouds
696,696,pyay,MM,2020-11-11 00:46:32,18.82,95.22,72.86,88,0,7.29,clear sky
697,697,auki,SB,2020-11-11 00:46:32,-8.77,160.70,86.72,62,86,5.88,overcast clouds

In [19]:
preferred_cities_df.count()

City_ID        369
City           369
Country        369
Date           369
Lat            369
Lng            369
Max Temp       369
Humidity       369
Cloudiness     369
Wind Speed     369
Description    369
dtype: int64

In [22]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp       Description    Lat     Lng Hotel Name
1   sao filipe      CV     78.85         clear sky  14.90  -24.50
6    ewa beach      US     87.80  scattered clouds  21.32 -158.01
9    carnarvon      AU     68.00         clear sky -24.87  113.63
10      hobart      AU     84.99         clear sky -42.88  147.33
11       airai      TL     75.38        light rain  -8.93  125.41
16     rikitea      PF     73.80         clear sky -23.12 -134.97
17    victoria      HK     73.00         clear sky  22.29  114.16
18        aden      YE     79.68         clear sky  12.78   45.04
20       vaini      TO     80.60        few clouds -21.20 -175.20
22      albany      US     63.00         clear sky  42.60  -73.97

In [23]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head()

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,sao filipe,CV,78.85,clear sky,14.90,-24.50,Tortuga B&B
6,ewa beach,US,87.80,scattered clouds,21.32,-158.01,Hampton Inn & Suites Oahu/Kapolei
9,carnarvon,AU,68.00,clear sky,-24.87,113.63,Hospitality Carnarvon
10,hobart,AU,84.99,clear sky,-42.88,147.33,St Ives Hobart Accommodation Tasmania
11,airai,TL,75.38,light rain,-8.93,125.41,Juvinal Martin

In [27]:
# 8a. Create the output File (CSV)
output_data_file = "weatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [32]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]
locations

       Lat     Lng
1    14.90  -24.50
6    21.32 -158.01
9   -24.87  113.63
10  -42.88  147.33
11   -8.93  125.41
..     ...     ...
690  -5.79  -35.21
694 -32.50  137.77
695 -19.84   34.84
696  18.82   95.22
697  -8.77  160.70

[369 rows x 2 columns]

In [34]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))